extends layout

block content
	h1= title

	button(type='button', onclick='createDfa()') Create DFA from JSON
	textarea#input-box(rows='4', cols='50')  
	button(type='button', onclick='checkInput()') Check Input
