extends layout

block content
	script(type='text/javascript' src="/javascripts/designer.js")
	h1= title

	button(type='button', onclick='init()') Start Designing
	button(type='button', onclick='addState()') Add New State
