extends layout

   
block content

  body(onload='init()')
  #header
    span Automata Made Easy
    button.btn-lg.model(type='button', data-toggle='modal', data-target='#myModal')
            span.glyphicon.glyphicon-info-sign
    #myModal.modal.fade.my_instruction(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4 INSTRUCTIONS
          .modal-body.instructions
            ul
              li
                | SYMBOLS : Enter Universal Input Set(One in each box). Add Symbol using '+' and remove it using '-'.
                hr
              li
                | STATES : Add States clicking on '+' and remove it clicking on '-'.
                hr
              li 
                | START STATE : You will get a default 'Start' state. 
                hr
              li 
                | FINAL STATE : Double click on any state to make it final and vice versa.
                hr
              li  
                | TRANSITIONS : Drag an Input Symbol/Bubble from one state to another state to creating a transition.
                hr
              li
                | INPUT STRING : Test your DFA with Input String when DFA is ready.
          .modal-footer

  #nav
    #events
      span SYMBOLS
      .input-group
        input.form-control(type="text")
        span.input-group-btn
          button.btn.btn-default.event(type="button" )
            span.glyphicon.glyphicon-plus
    #states
      span STATES
      .input-group
        input.form-control(type="text"  value="Start"  disabled)
        span.input-group-btn
          button.btn.btn-default.state(type="button" )
            span.glyphicon.glyphicon-plus
  #section
   #input-div.input-group
       input#input.form-control(type='text', placeholder='Input String'  disabled)
       span.input-group-btn
         button#input-btn.btn.btn-default(type='button'  disabled)
           span.glyphicon.glyphicon-play.play
     .canvas

       
 