doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet' href='/dependencies/bootstrap/css/bootstrap.min.css')

  body
    script(type='text/javascript' src="/javascripts/state.js")
    script(type='text/javascript' src="/javascripts/machine.js")
    script(type='text/javascript' src="/javascripts/machineParser.js")
    script(type='text/javascript' src="/javascripts/Raphael.js")
    script(type='text/javascript' src="/javascripts/connection.js")
    script(type='text/javascript' src="/javascripts/drawDfa.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" crossorigin="anonymous")
    script(type='text/javascript' src="/javascripts/getDetails.js")
    script(type='text/javascript' src="/javascripts/designer.js")
    script(type='text/javascript' src="/javascripts/init.js")
    script(type='text/javascript' src="/dependencies/bootstrap/js/bootstrap.min.js")


  block content