doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(type='text/javascript' src="/javascripts/state.js")
		script(type='text/javascript' src="/javascripts/machine.js")
		script(type='text/javascript' src="/javascripts/machineParser.js")
		script(type='text/javascript' src="/javascripts/drawDfa.js")
	block content