body, html {
  height: 100%;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-family: Courier New;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:350px;
    height: 100%;
    float:left;
    padding-left: 30px; 
    padding-top: 20px;
}

#section {
    width:400px;
    height: 100%;
    float:left;
    padding-left:50px; 
    padding-top: 20px;
}

#events , #states{
    margin-bottom: 20px;
    background-color: #aaa;
    width: 250px;
    height: 45%;
    float: left;
    border-radius: 5px;
    padding:10px;
    overflow: scroll;

}

.play{
    color: #aaa;
    font-size: 80px;
}
.right{
    color: #2FD709;
}
.wrong{
    color: #FF0000;
}

#input{
    height: 100px;
    width: 500px;
    font-size: 50px;
    font-weight: bold;
}
#input-btn{
    height: 100px;
    width: 100px;
}
#input-div{
    padding-left: 200px;
    padding-bottom: 50px;
}
input::-webkit-input-placeholder { font-size: 30px ; font-weight:normal;}

.canvas{
    height: 70%;
    width: 900px;
    background-color: #eee;
    overflow: scroll;
    
}